*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root{
    --snd-bg-color: #262840;
    --text-color:#fff;
    --main-color:#5982f4;
    --bg-color: #191f36;
    --white-4345: #f7f7f7;
    --bg-shade: #f5fcff;
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px
    
   

}

body{
    font-family: "poppins", sans-serif;
    color: var(--primary-text-color)
}

h1{
    font-size: 3rem;
    margin-top: 12%;
}
h2{
    font-size: 1.4rem;
    color: var(--text-color);
}
h3{
    font-size: 1.1rem;
    color: var(--text-color);

}
p{
    font-family: 'roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;

}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
margin-inline: auto;
padding-inline: var(--padding-inline-section);
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white;
    padding: 12px 24px ;
    box-shadow:0 0 2px var(--secondary-text-color) ;
    transition: all 0.3s ease;
}
.primary-button{
    background-color: var(--accent-color-dark);
}
.flex{
    display: flex;
    align-items: center;
}

nav{
    height: 10vh;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 1% 2% 0px 5%;
    background: var(--bg-shade);
   
    
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    overflow-x: hidden;
   
}

nav ul li a{
    text-decoration: none;
    color: #1b1b1b;
    margin: 0px 25px;
    font-size: 18;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 10px 12px ;
    transition: all 0.3s ease;
    overflow-x: hidden;
}

nav ul li a:hover {
    background-color: #75b1e9;
    border-radius: 5px;
  
}
.nav-link:hover,
.nav-link.active {
    background-color: #555;
}

nav .logo {
    font-size: 33px;
    color: black;
    font-weight: 600;
    font-family: "Playwrite SK", cursive;
}
nav #study{
    margin: 0;
    padding: 0%;
    color: var(--primary-text-color);
}
nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

section{
    padding: 50px var(--padding-inline-section);
    background: var(--bg-shade);
}
.main-page{
    justify-content: center;
    gap: 50px;
    padding-bottom: 5%;
    
 
}
.header-left{
   max-width: 40vw;
}
.header-left h1{
    margin-top: 20px;
}
.header-right img{
    width: 100%;
    margin-left: 10%;
}
.get-started-btn{
    margin-top: 20px;
    transition: all 0.3s ease;

}

.get-started-btn:hover{
    transform: translate(1.3);
    background-color: #577592;
}
#click{
    display: none;
}


.container1{
    display: flex;
    gap: 40px;
    margin: 60px;
    justify-content: space-around; 
    align-items: center;
    background-color: #fff;
    background: var(--bg-shade);
    flex-wrap: wrap; 
    padding: 20px; 
    box-sizing: border-box; 

}
.card{
    box-shadow: 0 0 10px 0px ;
    transition: transform 1.2s;
    height: auto; 
    overflow: hidden; 
    box-sizing: border-box; 
}


.btn-outline-primary:hover{
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.card:hover{
    transform: translateY(10px);
    box-shadow: 0 0 5px #40413c, 0 0 5px #1e1f1c, 0 0 18px rgb(70, 70, 52), 0 0 15px rgb(238, 235, 240), 0 0 15px rgb(201, 6, 208) ;
}
.service-heading{
    background: var(--bg-shade);
    margin-bottom: 10%;
}

.about-heading{
    text-align: center;
    margin-bottom: 5%;
    text-decoration: dashed;
   list-style:lower-latin;
   font-family: "Cedarville Cursive", cursive;
   padding-bottom: 3%;


}

.icon {
    height: 90px;
    width: 90px;
    background-color: var(--accent-color);
    margin: 40px auto 30px;
    text-align: center;
    font-size: 28px;
    color: var(--white);
    border-radius: 20px;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
    border: .2rem solid var(--text-color);


}

.name{
    text-align: center;
   color: #1b1b1b;
   font-family: "Playwrite SK", cursive;
}

.icon i{
    margin-top: 35%;
   
    
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin-bottom: 80px;
    margin: 0;
  
}

.about-flex {
    display: grid;
    row-gap: 30px;
    column-gap: 50px;
     grid-template-columns: repeat(3,0fr);  
     grid-template-rows: repeat(2,0fr);    
    justify-content: center;
    align-items: center;
    width: 100%;
  

}

.About-card {
    width: 18rem;
    height: auto;
    margin: 1rem;
    background-color: #d9e6f5;
    /* border-radius: 40px; */
    /* border-bottom-right-radius: 0; */
    box-shadow: 0 0 1rem var(--main-color);
    text-align: center;
    transition: transform 0.3s ease;
}

.About-card:hover {
    transform: translateY(-10px);
}

.About-card:hover{
    transform: translateY(16px);
}

.About-card a{
    margin-top: 12%;
}

.About-card a:hover{
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
#btn{
margin-bottom: 20px;
}
.Contact-heading {
    margin-bottom: 5%;
    text-align: center;
    color: #fff;
    bottom: 30px;
    font-family: "Playwrite SK", cursive;
    font-size: 1.5rem;

}

.Contact-heading h1{
    margin: 0;
    padding: 0;
}

.contact-section {
    min-height: 50vh;
    background-color: #1b1b1b;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-section .contact-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section .contact-item:hover {
    background: var(--bg-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.contact-section .contact-item-inner {
    padding: 30px 15px;
    text-align: center;
    box-shadow: var(--shadow-black-100);
    border-radius: 5px;
    width: 100%;
    align-items: center;
}

.contact-section .contact-item-inner i {
    font-size: 25px;
    color: var(--main-color);
}

.contact-section .contact-item-inner a span,
.contact-section .contact-item-inner span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--accent-color-dark);
    margin: 15px 0 10px;
    text-transform: capitalize;
    word-wrap: break-word;
}

.contact-section .contact-item-inner a p,
.contact-section .contact-item-inner p {
    font-size: 16px;
    color: var(--accent-color-dark);
    line-height: 26px;
    margin: 0;
    word-wrap: break-word;
}

.social-media {
    text-align: center;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 0 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.contact-section h3{
    position: relative;
    top: 10%;
    padding: 0;
    text-align: center;
    color: #1d69a3;

}
.contribution{
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    margin-top: 5%;
}

.primary-button:hover{
    background-color: var(--bg-color);
}


.contri-left{
text-align: start;
}



@media (max-width:  1085px){

    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #1b1b1b;
        height: 50vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
        z-index: 1;

    }
    
    .about-flex {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        column-gap: 20px;
        padding-left: 20%;
    }

    .About-card {
        width: 15rem;
    }


#btn{
    width: 80%;
}

 #click:checked ~ .menu-btn i:before{
       content: "\f00d";
      }
#click:checked ~ ul{
    left: 0%;
  }
    nav .menu-btn i {
        color: black;
        font-size: 40px;
        cursor: pointer;
        display: block;
      
    }
    nav ul li{
        margin: 40px 0px;
      
    }
    nav ul li a{
        font-size: 20px;
        color: #fff;
        
        
    }
    nav ul li a:hover,
    nav ul li a #active {
       background-color: none;
      
    }
    .container1{
       flex-wrap: wrap;
    }

.card{
margin-bottom: 20px;
min-width: 100%;

}

.contact-section {
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.contact-section .contact-item {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 20px;
}
#copyright{
    padding-top: 30px;
  }

}


@media only screen and (max-width: 772px) {
   .main-page{
    flex-direction: column-reverse;
    gap: 20px;
    margin: 0%;
   }
   .header-right img{
    width: 100%;
  
}

.icon{
    z-index: auto;
}

nav ul {
    height: 100vh;
}

p{
   font-size:1.0rem ;

}


.about {
    padding: 10px;
}

.about-flex {
    flex-direction: column;
   display: inline-flex;
   padding-left: 2%;
}

.About-card {
    margin-bottom: 20px;
    width: 80%;
}
.contact-section .contact-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.social-media a {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    margin: 2rem 1rem 0 0;
}
.service-heading{
    text-align: center;
    width: 100%;
}

#greater-noida{
    text-align: center;
    justify-content: center;
}
#copyright{
    padding-top: 30px;
  }

}

@media only screen and (max-width: 450px){
    p{
width: fit-content;
    }
    .container1 {
        margin: 20px;
        gap: 10px;
    }

    .card {
        width: 100%; 
        margin-bottom: 10px;
    }
    .header-right img{
        width: 100%;
        margin-left: 0%;
    }

    .header-left{
       margin-right: 5%;
       text-align: center;
    }

    .greeting{
       position: relative;
       right: 2rem;
    }

    .about-flex {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .About-card {
        width: 90%;
        margin-bottom: 20px;
    }

    .contact-section {
        flex-direction: column;
        align-items: center;
    }

    .contact-section .contact-item {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 10px;
    }

    .contact-section .contact-item-inner {
        width: 90%;
        justify-items: center;
    }

    .social-media a {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        margin: 2rem 1rem 0 0;
    }
    #greater-noida{
   display: inline-flex;
    }

    .contri-left{
        text-align: center;
    }

  #copyright{
    padding-top: 30px;
  }
}
@media only screen and (max-width: 275px) {
    .Contact-heading {
        font-size: 1.2rem;
        margin-bottom: 3%;
    }

    .contact-section .contact-item-inner {
        padding: 20px 10px;
        width: 95%;
    }

    .contact-section .contact-item-inner i {
        font-size: 20px;
    }

    .contact-section .contact-item-inner a span,
    .contact-section .contact-item-inner span {
        font-size: 14px;
        margin: 10px 0 5px;
    }

    .contact-section .contact-item-inner a p,
    .contact-section .contact-item-inner p {
        font-size: 14px;
        line-height: 22px;
    }

    .social-media a {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.2rem;
        margin: 1.5rem 1rem 0 0;
    }
}